{{ $colorScheme := default "light" .Site.Params.header.colorScheme }}

<header class="blog-header">
    <nav class="navbar navbar-expand-md navbar-{{ $colorScheme }} bg-{{ $colorScheme }} non-flex-wrap">
        <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
            {{ partial "brand" . }}
        </a>
        <form method="GET" class="input-group" action="http://google.com/search" target="_blank" autocomplete="off">
            <input name="q" type="hidden" value="site:{{ .Site.BaseURL }}"/>
            <input class="form-control" name="q" type="text"
                placeholder="Search in Keriwilan">
            <input name="submit" type="submit"  style="display:none"/>
        </form>
    </nav>
</header>